<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="include::header"></head>
<body>
<div th:include="include::footer"></div>
<div style="height: 500px; height: 300px; padding-top: 20px; margin-left: 30px ">
    <form class="layui-form" action="/goods/list" method="get" lay-filter="suuu">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" style="width: 50%" required lay-verify="required" placeholder="请输入标题"
                       autocomplete="off"
                       class="layui-input">

            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简介</label>
                <div class="layui-input-block">
                    <textarea name="intro" placeholder="请输入内容" style="width: 50%" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="cover">
                        <i class="layui-icon">&#xe67c;</i>上传封面
                    </button>
                </div>
                <div class="layui-input-block">
                    <img src="..." alt="..." style="width: 200px;height: 200px" class="img-thumbnail" id="showImages">
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-block">

                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="price" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var url = "";
    layui.use('upload', function () {
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#cover' //绑定元素
            , url: '/toss/fileoss' //上传接口
            , done: function (res) {
                console.log(res);
                url = res.data.url;
                console.log(url);
                $("#showImages").attr("src", url);
            }
            , error: function () {
                //请求异常回调
            }
        });
    });

    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {

            console.log(data)
            data.field.file = url;
            // layer.msg(JSON.stringify(data.field));
            // return false;
            $.ajax({
                    url: "/goods/addGoods",
                    method: "post",
                    dataType: "json",
                    data: data.field,
                    success: function (response) {
                        // $(window).attr('location', "/goods/list");
                    }
                }
            )
            return true;
        });
    });
</script>
</body>
</html>