<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="include::header"></head>
<body>
<div th:include="include::footer"></div>
<div>

    <div>
        <form class="layui-form" id="condition-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="title" autocomplete="off" id="inputTitle" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">price</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="price_min" placeholder="￥" id="inputMinPrice" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="price_max" placeholder="￥" id="inputMaxPrice" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="getInit()">立即查找
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-left: 5%" id="show">


    </div>
    <nav aria-label="Page navigation example" style="margin-left: 30%">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" onclick="getInit(-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" id="showNum" disabled="">1</a></li>
            <li class="page-item">
                <a class="page-link" onclick="getInit(1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script>
    var page = 1, limit = 6;
    var totalPages = -1
    getInit();
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(formDemo)', function (data) {
            getInit()
            return false;
        });
    })
    function getInit(p = 0) {

        console.log("getInit")
        if ((page + p) > totalPages && totalPages != -1) {
            return ;
        }
        if (page + p <= 0) {
            return ;
        }
        $.ajax({
            url: "/goods/getInitData/" + (page + p) + "/" + limit,
            method: "post",
            data: {
                title: $("#inputTitle").val(),
                minPrice: $("#inputMinPrice").val(),
                maxPrice: $("#inputMaxPrice").val()
            },
            dataType: "json",
            success: function (response) {
                var param = response.data.item;
                var n = param.length;
                var k = n >= 3 ? 6 : 3;
                console.log(response)
                var html = "";
                for (var i = 0; i < k; i++) {
                    if (i == 0 || i == 3) {
                        html += "<div class=\"row\">\n";
                    }
                    if (i < n) {
                        html += "<div class=\"col-sm\">\n" +
                            "                <div class=\"card\" onclick=\"gotoDetail(" + param[i].id + ")\" style=\"width: 18rem;\">\n" +
                            "                    <img src=\"" + param[i].cover + "\" class=\"card-img-top\" alt=\"...\">\n" +
                            "                    <div class=\"card-body\">\n" +
                            "                        <p class=\"card-text\">" + param[i].title + "</p>\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "            </div>"
                    } else {
                        html += "<div class=\"col-sm\">\n" +
                            "            </div>";
                    }
                    if (i == 2 || i == 5) {
                        html += " </div>"
                    }
                }
                if (response.data.code == "20001") {
                    $("#showNum").hide();
                } else {
                    totalPages = response.data.pages;
                    page = response.data.current;
                    $("#showNum").show();
                    $("#showNum").text(page);
                }
                if ((page + p) > totalPages) {
                    return ;
                }
                if (page + p <= 0) {
                    return ;
                }

                $("#show div").remove();
                $("#show").append(html)
            }
        })
    }

    function gotoDetail() {

    }

</script>
</body>
</html>