<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:include="include::header"></head>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
<body>
<div th:include="include::footer"></div>
<div class="container-fluid">
    <div class="row">
        <!--        sider-->
        <div class="col-2" style="height: 100vh; background-color: rgb(236,241,247)">
            <ul id="iframeTree" class="dtree" data-id="0"></ul>
        </div>
        <div class="col-10" style="height: 100vh;  background-color: #fffefe">
            <!--            header-->
            <div class="row" style="height: 7vh;background-color: #f7fbfe; width: 100%;">
<!--                <ul class="layui-nav" style="float:right;">-->
<!--                    <li class="layui-nav-item">-->
<!--                        <a href="">控制台<span class="layui-badge">9</span></a>-->
<!--                    </li>-->
<!--                    <li class="layui-nav-item">-->
<!--                        <a href="">个人中心<span class="layui-badge-dot"></span></a>-->
<!--                    </li>-->
<!--                    <li class="layui-nav-item">-->
<!--                        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"-->
<!--                                        sec:authentication="principal.username"></a>-->
<!--                        <dl class="layui-nav-child">-->
<!--                            <dd><a href="javascript:;">修改信息</a></dd>-->
<!--                            <dd><a href="javascript:;">安全管理</a></dd>-->
<!--                            <dd><a href="javascript:;" th:href="@{/logout}">退了</a></dd>-->
<!--                        </dl>-->
<!--                    </li>-->
<!--                </ul>-->
                                <div class="card mb-3" style="max-width: 540px; margin-left: 90%; border: 0px ">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="imgs/1.png" class="img-thumbnail" style="width: 100px"/>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                                   id="dropdownMenuLink"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                   sec:authentication="principal.username">

                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item"  href="#">个人信息</a>
                                                    <a class="dropdown-item" th:href="@{/logout}">注销</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
            <!--            container-->
            <div class="row" style="height: 88vh;background-color: #f1f2f4">

                <div class="embed-responsive">
<!--                    角色：<span sec:authentication="principal.authorities"></span>-->
                    <!--                    <iframe th:src="@{/acl-user/user/list}">-->
                    <iframe  id="iframe_content" class="layui-anim layui-anim-up">

                    </iframe>
                </div>
                <!--                <iframe src="1/1.html" height="100%" width="100%" name="demo" scrolling="auto" sandbox="allow-same-origin"></iframe>-->
            </div>
            <!--            footer-->
            <div class="row" style="height: 5vh; background-color: #f7fbfe">
                <fieldset class="layui-elem-field">
                    <legend>

                        <span class="layui-badge-dot layui-bg-orange"></span>
                        <span class="layui-badge-dot layui-bg-green"></span>
                        <span class="layui-badge-dot layui-bg-cyan"></span>
                        @five-team
                        <span class="layui-badge-dot layui-bg-orange"></span>
                        <span class="layui-badge-dot layui-bg-green"></span>
                        <span class="layui-badge-dot layui-bg-cyan"></span>
                    </legend>
                    <div class="layui-field-box">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script>
    layui.extend({
        dtree: '/bootstrap/layui/js/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['dtree', 'layer', 'jquery'], function () {
        var dtree = layui.dtree, layer = layui.layer, $ = layui.jquery;

        // 初始化树
        var DTreeNode = dtree.render({
            elem: "#iframeTree",
            url: "/acl-permission/getMenuCont",
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            // checkbar: true,
            // checkbarType: "no-all", //半选
            response: {message: "message", statusCode: 0}, //修改response中返回数据的定义
            // done: function (res, $ul, first) {
            //     if (first) {
            //         dtree.chooseDataInit("checkbarTreeInitcheck", "001001,001002");
            //         // 反选半选状态
            //         dtree.initNoAllCheck("checkbarTreeInitcheck");
            //     }
            // }
        });

        // 绑定节点点击
        dtree.on("node('iframeTree')", function (obj) {
            console.log(obj)
            var path = obj.param.basicData;
            var nodeId = obj.param.nodeId;
            // layer.msg(JSON.stringify(obj.param));
            // layer.msg(nodeId)
            // DTreeNode.clickNodeCheckbar(nodeId);// 点击节点选中复选框
            console.log(path)
            if (path != null)
                toShow(path)
            // var checkbarNodes = dtree.getCheckbarNodesParam("checkbarTreeNode");
        });
    });

    function toShow(path) {
        // $(window.parent.document).find("#Frm_Main").attr("src",url);
        $("#iframe_content", parent.document.body).attr("src", path)
    }

</script>
</body>
</html>